@import '../../styles/global';

// - 1 - // DISPLAY FLEX
.index, 
.sidebarContent, 
.menu, .menu ul, .menu li,
.clientLogo,
.logOut {
    display: flex;
}

// - 2 - // INDEX
.index {
    flex-direction: column;
    justify-content: space-between;

    background-color: $secondaryColor--tan;

    border-radius: 5px;

    a {
        text-decoration: none;
        color: $mainColor--green;
        // font-family: $Mansalva_fomt-family;
        font-family: $IndieFlower_font-family;
    }
    h4 {
        font-size: 2rem;
        font-family: $Mansalva_fomt-family;
        // font-family: $IndieFlower_font-family;

        margin-top: $vertical_margin / 4;
        margin-bottom: $vertical_margin / 4;
    }
    h5 {
        font-size: 1rem;
        font-family: $Mansalva_fomt-family;
        // font-family: $IndieFlower_font-family;

        margin-top: $vertical_margin / 2;
        margin-bottom: $vertical_margin / 2;
    }
}

/* - 3.1 - Sidebar Middle - Sidebar Content */
.sidebarContent {
    flex-direction: column;
    align-items: center;

    margin-top: $vertical_margin / 3; 
    margin-bottom: $vertical_margin / 3; 

    padding: 0px 10px 0px 10px;

    h4:last-child {
        margin-top: 0px;
        padding-bottom: $vertical_margin / 3;
        border-bottom: 3px dashed black;
    }

    div {
        margin-bottom: $vertical_margin / 3;
    }

    div:last-child {
        margin-bottom: 0px;
    }
}

/* - 3.2 - Sidebar Middle - Sidebar Menu */
.menu {
    justify-content: center;
    flex-direction: column;

    margin-top: $vertical_margin / 3; 
    margin-bottom: $vertical_margin / 3; 

    flex-grow: 1;

    ul {
        flex-direction: column;
    
        flex-grow: 1;
        margin: 0px;
    
        align-items: center;
        justify-content: center;
        justify-content: space-around;
    
        padding: 0px;
        list-style-type:none
    }
}


/* - 3.3 - Sidebar Bottom - Client Logo */
.clientLogo {
    justify-content: center;
    align-items: center;

    height: 50px;
    width: 100%;

    border-top: 1px dashed black;
}

.logOut {
    justify-content: center;

    width: 100%;
}

/* SPECIFIC */
/*  -A- HOME SIDEBAR */
.homeSidebar, .studySidebar, .testSidebar, .logout {
    display: flex;
    flex-direction: column;

    flex-grow: 1;
}