@import 'global';

.index {
    display: flex;
    justify-content: center;
    align-items: center; 

    width: 70%;
    height: 70%;
}

.index_FRONT, .index_BACK {
    display: flex;
    position: relative;

    flex-grow: 1;
}
.index_FRONT {
    justify-content: center;
    align-items: center;

    font-family: $PermanentMarker_font-family;
    font-size: 1.5rem;

    .topLeft, .topRight, .bottomRight {
        display: flex;
        position: absolute;

        height: 2.5rem;
        width: 2.5rem;

        border: 1px solid purple;
    }

    .topLeft {
        top: 0;
        left:0;
        .favorite {
    
        }
        .struggleBuss {
    
        }
    }
    .topRight {
        top: 0;
        right: 0;

        height: 4rem;
        .tabs {
    
        }
    }
    .bottomRight {
        bottom: 0;
        right: 0;
        .pairing {
    
        }
    }

}

.index_BACK {

}