/* MAIN  */
/* -1- Index */
.index{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-width: 80px;

    background-color: var(--secondaryColor--tan);
    /* background-color: var(--mainColor--tan); */

    border: 1px solid teal;
}

/* -2- Sidebar Middle - Sidebar Content */
.sidebarContent {
    display: flex; 
    flex-direction: column;
    align-items: center;

    margin-top: 10px; 
    margin-bottom: 10px; 
}

.sidebarContent div {
    margin-bottom: 5px;
}
.sidebarContent div:last-child {
    margin-bottom: 0px;
}

/* -3- Sidebar Middle - Sidebar Menu */
.menu {
    display: flex;
    justify-content: center;
    flex-direction: column;

    /* height: 100%; */
    flex-grow: 1;
}
.menu ul {
    display: flex;
    flex-direction: column;

    flex-grow: 1;
    margin: 0px;

    align-items: center;
    justify-content: center;
    /* justify-content: space-around; */

    padding: 0px;
    list-style-type:none
}

.menu li {
    display: flex;
    margin-bottom: 4rem;
}
.menu li:last-child {
    margin-bottom: 0px;
}

/* -4- Sidebar Bottom - Client Logo */
.clientLogo {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    width: 100%;

    border: 1px dashed red;
}

/* SPECIFIC */
/*  -A- HOME SIDEBAR */
.homeSidebar, .studySidebar, .testSidebar {
    display: flex;
    flex-direction: column;

    flex-grow: 1;
}