@import 'global';

.index {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;

    flex-grow: 1;

    border: 1px dashed black;
}

.incrementor {
    display: flex;
    
}