@import 'global';

.index {
    position: relative;

    display: flex;
    align-items: center;
    text-align: center;

    height: 110px;
    width: 110px;

    padding: 7px;
    margin-bottom: $vertical_margin / 2;
    margin-top: $vertical_margin / 2;

    /* border: 1px dashed blue; */
}

.box_1, .box_2, .box_3 {
    position: absolute;
    /* left: 0;
    top: 0; */

    height: 100px;
    width: 100px;

    border-radius: 5px;
    /* border: 1px dashed orange; */
    
}
.box_1 {
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: var(--mainColor--tan) */
    background-color: $secondaryColor--tan;
    z-index: 3;
}
.box_2 {
    background-color: $mainColor--green;
    transform: rotate(20deg);
    z-index: 2;
    box-shadow: 10px 10px 20px grey;
    opacity: 0.7;
}
.box_3 {
    background-color: $mainColor;
    transform: rotate(10deg);
    z-index: 1;
    box-shadow: 10px 10px 20px grey;
    opacity: 0.7;
}